@model BlogThing.Models.Complaint

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Complaint</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pacc" class="control-label"></label>
                <input asp-for="Pacc" class="form-control" />
                <span asp-validation-for="Pacc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmissionDate" class="control-label"></label>
                <input asp-for="SubmissionDate" class="form-control" />
                <span asp-validation-for="SubmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address1" class="control-label"></label>
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address2" class="control-label"></label>
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZIP" class="control-label"></label>
                <input asp-for="ZIP" class="form-control" />
                <span asp-validation-for="ZIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressID" class="control-label"></label>
                <input asp-for="AddressID" class="form-control" />
                <span asp-validation-for="AddressID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueType" class="control-label"></label>
                <select asp-for="IssueType" class="form-control"></select>
                <span asp-validation-for="IssueType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComplaintDescription" class="control-label"></label>
                <input asp-for="ComplaintDescription" class="form-control" />
                <span asp-validation-for="ComplaintDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicNotes" class="control-label"></label>
                <input asp-for="PublicNotes" class="form-control" />
                <span asp-validation-for="PublicNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrivateNotes" class="control-label"></label>
                <input asp-for="PrivateNotes" class="form-control" />
                <span asp-validation-for="PrivateNotes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HumanSafety" /> @Html.DisplayNameFor(model => model.HumanSafety)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
