@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Report a Concern</h4>
                <p class="category">Report code violations</p>
            </div>
            <div class="card-body">
                "If your neighbor is slippin, its time to start trippin."
                - Click here to snitch
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Permits & Registration</h4>
                <p class="category">Rental Registration and Occupancy Permits</p>
            </div>
            <div class="card-body">
                Apply now!
            </div>
        </div>
    </div>
</div>