@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Turtle Creek Valley Council of Governments Municiple Code Enforcement Page</h1>

<div class="row row-flex">
    <div class="col-md-6 row-flex-baby">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Report Concerns</h4>
                <p class="category">Of Code Violations</p>
            </div>
            <div class="card-body">
                If you suspect a possible violation of municiple code, please report your concerns here.
            </div>
        </div>
    </div>
    <div class="col-md-6 row-flex-baby">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Permits & Registration</h4>
                <p class="category">Rental Registration and Occupancy Permits</p>
            </div>
            <div class="card-body">
                Apply now!
            </div>
        </div>
    </div>
</div>